---
import "@/assets/css/tailwind.css";
import "@/assets/css/fonts.css";
import Nav from '@/shared/Nav.astro'
import Footer from '@/shared/Footer.astro'
import ClipPaths from '@/shared/ClipPaths.astro'
import TableOfContents from '@/components/TableOfContents.astro'
import MobileTableOfContents from '@/components/MobileTableOfContents.astro'

interface Heading {
  depth: number;
  slug: string;
  text: string;
}

interface Props {
  head: { title: string, description: string },
  headings?: Heading[];
}
const { head, headings } = Astro.props as Props;

const currentPathname = Astro.url.pathname;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={head.description} />
    <title>{head.title}</title>

    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="manifest" href="/favicon/site.webmanifest">

    <script src="/src/lib/elements.js"></script>
  </head>

  <body class="min-h-screen flex flex-col bg-theme-offwhite">
    <Nav className="shrink-0" />
    <main class={`mx-auto flex-grow w-full ${headings ? 'md:flex md:gap-x-24' : ''}`}>

      {/* Magic value: top-24 to push TOC under nav */}
      {/* Magic value: 100vh-20rem keeps nav from colliding into footer at bottom of page and scrolling off screen at top */}

      {/* Mobile TOC  */}
      {
      headings &&
      <div class="md:hidden sticky top-[var(--header-height)]">
        <MobileTableOfContents headings={headings} />
      </div>
      }

      {/* Desktop TOC  */}
      { 
      headings &&
      <div class="hidden md:block shrink-0">
        <TableOfContents className="sticky top-[var(--toc-height)] max-h-[var(--toc-max-height)]" headings={headings} />
      </div>
      }

      <slot />
    </main>
    <Footer className="shrink-0" />
    <ClipPaths/>
  </body>

</html>
